node_modules

# build outputs
dist
.next
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea

# coverage
coverage
